div { 
background-color: #b994ca;
        padding: 10px;
        border: 5px solid #000000;
        margin-top: 10px; 
}
/* style for body */
body {
  background-color: rgb(140, 98, 196);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* style for headers */

header {

  border: 1px solid black;
  padding: 20px;
  text-align: center;
  background-color: rgb(196, 115, 115);
}
/* style for paragraphs */
p {
  color: black;
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

/* style for unordered lists */
ul {
  list-style-type: none;
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  background-color: rgb(165, 31, 199);
  font-size: 18px;
  
}
/* style for images */
img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  float: center;
  width: 200px;
  height: 200px;
  
}
/* style for buttons */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(165, 31, 199);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}