div { 
background-color: #b994ca;
        padding: 10px;
        border: 5px solid #000000;
        margin-top: 10px; 
}
/* style for body */
body {
  background-color: #bb99ff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/* style for headers */
h1 {
  font-family: 'courier', sans-serif;
  color: #053029;
  text-align: center;

}

h2 {
  color: #13133b;
  text-align: center;
    
}
h3 {
  color: #25008b;
  text-align: center;
  font-size: 20px;
  margin: 60px;
  border: 2px solid #000000;
}

header {

  border: 1px solid #000000;
  padding: 20px;
  text-align: center;
  background-color: #c47373;
}
/* style for paragraphs */
p {
  color: #000000;
  text-align: center;
  font-size: 18px;
  margin: 20px;
}

/* style for unordered lists */
ul {
  list-style-type: none;
  padding: 20px;
  text-align: center;
  border: 2px solid #000000;
  background-color: #ff00ff;
  font-size: 18px;
  
}
/* style for images */
img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  float: center;
  width: 200px;
  height: 200px;
  
}
/* style for buttons */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #a51fc7;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
footer {
  background-color: #c47373;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}